# Datasets pesados
*.csv
*.xlsx

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Node.js
node_modules/
dist/
build/

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Documento del enunciado
Enunciado PF.pdf
